<%- include('header') %>

  <h1>DPMCFRVRPVIRRD</h1>
  <!-- $$$$$ NAVIGATION $$$$$ -->
  <div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
    <label for="navi-toggle" class="navigation__button">    
    <span class="navigation__icon">&nbsp;</span>
  </label>
  <div class="navigation__background">&nbsp;</div>
  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item"><a href="#home" class="navigation__link"><span>01</span> Home</a></li>
      <li class="navigation__item"><a href="#team" class="navigation__link"><span>02</span> Nosso Grupo</a></li>
      <li class="navigation__item"><a href="#dossie" class="navigation__link"><span>03</span> Dossiê</a></li>
      <li class="navigation__item"><a href="#pdf" class="navigation__link"><span>04</span> PDF</a></li>       
    </ul>
  </nav>
</div>
<%- include('footer') %>