<div class="container-fluid" id="palestrantes">
  <div class="container">
    <div class="row">
      <div class="col"><div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eaque odit, corrupti illo minus quia facere, ut quibusdam quaerat fugit impedit? Nostrum expedita ab, nihil, molestiae veritatis maxime aperiam voluptatem vero laudantium voluptatibus autem praesentium voluptates suscipit rem quod at, esse odit ea iure quas aspernatur. Quas amet nihil deleniti! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, distinctio corporis aliquid illo reprehenderit voluptate nulla veritatis minima excepturi eos voluptates quidem vitae odit, temporibus illum provident, veniam nisi maiores dolores. Voluptatibus ipsum porro deserunt, incidunt reprehenderit quis minima quaerat et? Illum quas quis culpa adipisci a sed fugit libero voluptatum in, ad placeat nam laborum sequi molestiae unde ipsam ex mollitia laudantium at nobis reiciendis deleniti id quam eveniet. Amet possimus, facere, delectus, repellendus voluptatum totam ut voluptates beatae nam ipsam dolorem provident. Illum dolorem modi aut suscipit! Minima mollitia excepturi voluptatum inventore praesentium distinctio dignissimos neque tempora! Quaerat error consequuntur, voluptates provident ullam vitae minima veritatis reiciendis officiis dolorem, tenetur repellendus culpa quisquam nisi rem iusto architecto, quis temporibus ut aperiam velit! Doloribus, adipisci atque iusto culpa iure impedit vel ratione, totam pariatur nesciunt eos, ducimus cum ut ullam id quisquam. Quas rerum similique at omnis qui nesciunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum veniam.  </p>        
      </div></div>
      <div class="col">
        <div class="row">
          <div class="col"><div class="col"><div class="jumbotron">
              <h1 class="display-4">Hello, world!</h1>
              <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling.</p>        
            </div></div></div>
          <div class="col"><div class="col"><div class="jumbotron">
              <h1 class="display-4">Hello, world!</h1>
              <p class="lead">This is a simple hero unit, a simple jumbotron-style component for.</p>        
            </div></div></div>
        </div>
        <div class="row">
            <div class="col"><div class="col"><div class="jumbotron">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling.</p>        
              </div></div></div>
            <div class="col"><div class="col"><div class="jumbotron">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for.</p>        
              </div></div></div>
          </div>
      </div>
    </div>
  </div>
</div>