<header class="header">
    <div class="header__logo-box">
        <!-- <img src="img/logo-white.png" alt="Logo" class="header__logo"> -->
    </div>

    <div class="header__text-box">
        <h1 class="heading-primary">
            <!-- <span class="heading-primary--main">Outdoors</span> -->
            <span class="heading-primary--sub">Quer saber como empreender com segurança e ter sempre o controle da empresa em suas mãos? Não perca esta oportunidade!</span>
        </h1>

        <a href="https://eduzz.com/g/93609" target="_BLANK" class="btn btn--white btn--animated">Garanta o seu ingresso!</a>
    </div>
</header>