<div class="container-fluid" id="beneficios">
  <div class="container">
    <h3 class="secondary-header">Quais são os benefícios?</h3>
    <div class="row">
      <div class="col-3">
        
      </div>
      <div class="col-3">
        
      </div>
      <div class="col-3">
        
      </div>
      <div class="col-3">
        
      </div>
    </div>
  </div>
</div>