<div class="container-fluid" id="como-chegar">
  <div class="container">
    <h4 class="secondary-header">Como chegar?</h4>
    <div class="row">
      <div class="col">
        <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=8CCV%2BQC%20S%C3%A3o%20Bernardo%20do%20Campo%2C%20SP&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de/google-maps/">pureblack.de</a></div><style>.mapouter{text-align:right;height:500px;width:500px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:500px;}</style></div>
      </div>
    </div>
  </div>
</div>