<div class="container-fluid" id="empreendedor-seguro">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h2 class="secondary-header">O que é o <br> empreendedor <br> seguro?</h2>
      </div>
      <div class="col-sm-12 col-md-8">
        <p>As empresas estão expostas a uma série de situações que fogem do controle. Alguns problemas podem vir a afetar toda a rotina empresarial e patrimonial e, consequentemente, trazer prejuízos. A sua empresa precisa estar preparada! O evento Empreendedor Seguro vai lhe ajudar a avaliar os riscos e pensar em alternativas para garantir que nenhuma surpresa negativa apareça. Queremos que o seu empreendimento decole!</p>
        <p>Nosso encontro é uma excelente oportunidade para capacitar e alavancar a gestão do negócio, realizar parcerias e compartilhar experiências. Será ofertado um bate-papo com profissionais altamente capacitados, além de transmissão à distância. Não há motivos para ficar de fora!
        </p>
        <p>Empreendedores já atuantes, futuros empreendedores ou interessados no assunto, este evento é para vocês. Venham expandir seu network e debater com a gente! As vagas são limitadas, corra e garanta já a sua. Inscreva-se <a target="_BLANK" href="https://www.sympla.com.br/empreendedor-seguro-meetup__408650">aqui!</a></p>
      </div>
    </div>
  </div>
</div>