<div class="container-fluid" id="empreendedor-seguro">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h2 class="secondary-header">O que é o <br> empreendedor <br> seguro?</h2>
      </div>
      <div class="col-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias recusandae nemo at magni cupiditate, vero unde. Eius libero quibusdam, id quae exercitationem architecto assumenda nisi fuga molestias dolore asperiores. Doloremque dicta corporis quam obcaecati neque? Impedit sint aperiam cum officia non quod consequuntur neque ipsum eveniet ducimus, provident, eligendi aut enim incidunt quidem distinctio quae labore perspiciatis quos. Debitis, suscipit! Totam nemo enim molestias possimus atque, reiciendis quasi earum repudiandae sed quisquam ullam recusandae alias quos odio in, esse asperiores voluptas neque tempora sit explicabo distinctio nisi. Labore excepturi necessitatibus praesentium facilis est quo delectus autem, incidunt ratione minus obcaecati!</p>
      </div>
    </div>
  </div>
</div>