<div class="container-fluid" id="palestrantes">
  <div class="container">
    <h2 class="secondary-header">Quem serão os palestrantes?</h2>
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-6">
        <a id="#hugo" href="#hugo-pop" class="palestrante__box">
          <img src="/static/img/hugo.jpg" alt="Hugo Santos">
          <span></span>
        </a>
      </div>
      <!-- <div class="col-sm-12 col-md-6">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <a id="isabel" href="#isabel-pop" class="palestrante__box">
              <img src="/static/img/isabel.jpg" alt="">              
            </a>
          </div>
          <div class="col-sm-12 col-md-6">
            <a id="thales" href="#thales-pop" class="palestrante__box">
              <img src="/static/img/thales.jpg" alt="">              
            </a>
          </div>
        </div>
      </div> -->
    </div>
    <h2 class="secondary-header" id="programacao">Programação</h2>
    <div class="row">
      <div class="col">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Horário</th>
              <th scope="col">Atividade</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>14:00</td>
              <td>Recepção e credenciamento</td>
            </tr>
            <tr>
              <td>14:10</td>
              <td>Hugo Santos - Vendas e Marketing na Nova Economia</td>
            </tr>
            <tr>
              <td>15:00</td>
              <td>Painel de discussão com especiaslitas</td>
            </tr>
            <tr>
              <td>15:30</td>
              <td>Networking</td>
            </tr>
            <tr>
              <td>15:30</td>
              <td>Encerramento</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- ===== PALESTRANTE UM ===== -->
<div class="popup" id="hugo-pop">
    <div class="popup__content">
      <div class="popup__left">
        <span>Hugo <br> Santos</span>
        <span></span>
        <img src="/static/img/hugo.jpg" alt="">
      </div>
      <div class="popup__right">
        <a href="#hugo" class="popup__close">&times;</a>
        <p>Hugo Santos é formado em Marketing, e é especialista em Inbound Marketing e Vendas Consultivas. Auxilia empresas a repensar seus modelos de negócios e implantar estratégias de vendas e marketing, através de consultoria, palestras e cursos. Possui amplo conhecimento em inovação, startups, comunicação nas empresas, além de vendas e marketing. 
        </p>
        <p>Possui um extenso currículo. É fundador das empresas Palestras e Conteúdo, MotivoMarketing e co-fundador da Seller Soul. Além de atuar nas empresas, atualmente é Diretor de Educação do ITESCS (Instituto de Tecnologia de São Caetano do Sul), e Diretor de Marketing da ABRAT (Associação Brasileira de Tecnologia da Informação e Comunicações). É também professor em cursos de MBA e mentor de startups pela InovAtiva Brasil. Recentemente, foi mediador do painel de Hacks para Resultados em vendas no RD Summit.</p>        
      </div>
    </div>
</div>
<!-- ===== PALESTRANTE DOIS ===== -->
<div class="popup" id="isabel-pop">
    <div class="popup__content">
      <div class="popup__left">
          <span>Isabel <br> Downey</span>
          <span>Hyper</span>
          <img src="" alt="">
      </div>
      <div class="popup__right">
        <a href="#isabel" class="popup__close">&times;</a>
        <ul>
            <li><span>Sonho grande:</span> Me descobrir como pessoa e como profissional, atingindo o equilíbrio entre as duas coisas, e fazendo tudo o que amo.</li>
            <li><span>O que quero aprender:</span> Conhecimento prático e teórico do Growth Hacking, e desenvolver as minhas soft skills</li>
            <li><span>O que posso ensinar:</span> Tudo o que sei sobre empatia e metodologias de inovação.</li>
            <li><span>Em um ano estarei:</span> Empreendendo, mas sempre aprendendo.</li>
            <li><span>LinkedIn:</span> <a href="https://www.linkedin.com/in/isabeldowney/">https://www.linkedin.com/in/isabeldowney/</a></li>
            <li><span>Maior medo:</span> Perder a capacidade de me maravilhar com tudo ou de entrar no automático e não conseguir sair.</li>
          </ul>    
      </div>
    </div>
</div>

<!-- ===== PALESTRANTE TRÊS ===== -->
<div class="popup" id="thales-pop">
    <div class="popup__content">
      <div class="popup__left">
        <span>Thales <br> Avila</span>
        <span>Hacker</span>    
        <img src="" alt="">
      </div>
      <div class="popup__right">
        <a href="#thales" class="popup__close">&times;</a>
        <ul>
          <li><span>Sonho grande:</span> Desenvolver um projeto social associado a minha paixão por tecnologia para resgatar jovens do tráfico de drogas.</li>
          <li><span>O que quero aprender:</span> Técnicas praticadas no workflow moderno de desenvolvedor front-end. A delegar e escutar mais.</li>
          <li><span>O que posso ensinar:</span> Tudo o que eu sei sobre front-end e tecnologia.</li>
          <li><span>Em um ano estarei:</span> Impactando vidas positivamente por onde passar.</li>
          <li><span>LinkedIn:</span> <a href="https://www.linkedin.com/in/thales-avila/">https://www.linkedin.com/in/thales-avila/</a></li>
          <li><span>Maior medo:</span> Chegar ao final da vida e perceber que não possuo nenhum legado.</li>
        </ul> 
      </div>
    </div>
</div>