<div class="container-fluid" id="palestrantes">
  <div class="container">
    <h2 class="secondary-header">Quem serão os palestrantes?</h2>
    <div class="row">
      <div class="col-6">
        <a id="#paulo" href="#paulo-pop" class="palestrante__box">
          <img src="/static/img/paulo.jpg" alt="">
          <span></span>
        </a>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <a id="isabel" href="#isabel-pop" class="palestrante__box">
              <img src="/static/img/isabel.jpg" alt="">              
            </a>
          </div>
          <div class="col-6">
            <a id="thales" href="#thales-pop" class="palestrante__box">
              <img src="/static/img/thales.jpg" alt="">              
            </a>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
<!-- ===== PALESTRANTE UM ===== -->
<div class="popup" id="paulo-pop">
    <div class="popup__content">
      <div class="popup__left">
        <span>Paulo <br> Paiva</span>
        <span>Hustler</span>
        <img src="/static/img/paulo.jpg" alt="">
      </div>
      <div class="popup__right">
        <a href="#paulo" class="popup__close">&times;</a>
        <ul>
          <li><span>Sonho grande:</span> chegar a CEO em uma empresa de atuação mundial.</li>
          <li><span>O que quero aprender:</span> visão sistêmica de uma startup e conhecimentos aprofundados de hustler.</li>
          <li><span>O que posso ensinar:</span> conhecimentos básicos de vendas e liderança.</li>
          <li><span>Em um ano estarei:</span> buscando um cargo de gerência em uma Startup de atuação nacional.</li>
          <li><span>LinkedIn:</span> <a href="https://www.linkedin.com/in/pauloclpaiva/">https://www.linkedin.com/in/pauloclpaiva/</a></li>
          <li><span>Maior medo:</span> passar por um ambiente sem causar nenhum tipo de transformação.</li>
        </ul>
      </div>
    </div>
</div>
<!-- ===== PALESTRANTE DOIS ===== -->
<div class="popup" id="isabel-pop">
    <div class="popup__content">
      <div class="popup__left">
          <span>Isabel <br> Downey</span>
          <span>Hyper</span>
          <img src="/static/img/isabel.jpg" alt="">
      </div>
      <div class="popup__right">
        <a href="#isabel" class="popup__close">&times;</a>
        <ul>
            <li><span>Sonho grande:</span> Me descobrir como pessoa e como profissional, atingindo o equilíbrio entre as duas coisas, e fazendo tudo o que amo.</li>
            <li><span>O que quero aprender:</span> Conhecimento prático e teórico do Growth Hacking, e desenvolver as minhas soft skills</li>
            <li><span>O que posso ensinar:</span> Tudo o que sei sobre empatia e metodologias de inovação.</li>
            <li><span>Em um ano estarei:</span> Empreendendo, mas sempre aprendendo.</li>
            <li><span>LinkedIn:</span> <a href="https://www.linkedin.com/in/isabeldowney/">https://www.linkedin.com/in/isabeldowney/</a></li>
            <li><span>Maior medo:</span> Perder a capacidade de me maravilhar com tudo ou de entrar no automático e não conseguir sair.</li>
          </ul>    
      </div>
    </div>
</div>

<!-- ===== PALESTRANTE TRÊS ===== -->
<div class="popup" id="thales-pop">
    <div class="popup__content">
      <div class="popup__left">
        <span>Thales <br> Avila</span>
        <span>Hacker</span>    
        <img src="/static/img/thales.jpg" alt="">
      </div>
      <div class="popup__right">
        <a href="#thales" class="popup__close">&times;</a>
        <ul>
          <li><span>Sonho grande:</span> Desenvolver um projeto social associado a minha paixão por tecnologia para resgatar jovens do tráfico de drogas.</li>
          <li><span>O que quero aprender:</span> Técnicas praticadas no workflow moderno de desenvolvedor front-end. A delegar e escutar mais.</li>
          <li><span>O que posso ensinar:</span> Tudo o que eu sei sobre front-end e tecnologia.</li>
          <li><span>Em um ano estarei:</span> Impactando vidas positivamente por onde passar.</li>
          <li><span>LinkedIn:</span> <a href="https://www.linkedin.com/in/thales-avila/">https://www.linkedin.com/in/thales-avila/</a></li>
          <li><span>Maior medo:</span> Chegar ao final da vida e perceber que não possuo nenhum legado.</li>
        </ul> 
      </div>
    </div>
</div>