<div class="container-fluid" id="patrocinadores">
  <div class="container">
    <h5 class="secondary-header secondary-header-white">As empresas que fizeram esse evento acontecer</h5>
    <div class="row">
      <div class="col-4">
        <img src="/static/img/logos/ceitec_logo.png" alt="">
      </div>
      <div class="col-4">
        <img src="/static/img/logos/empreenda_logo.png" alt="">
      </div>
      <div class="col-4">
        <img src="/static/img/logos/locus-paulista-logo.png" alt="">
      </div>
    </div>
  </div>
</div>