<div class="container-fluid" id="seja-um-parceiro">
  <div class="container">
    <h5 class="secondary-header secondary-header-white">Seja um parceiro!</h5>
    <div class="row">
      <div class="col-6 offset-3">
        <form>
          <div class="form-group">
            <label for="text"></label>
            <input id="text" name="text" placeholder="Nome" type="text" class="form-control here">
          </div>
          <div class="form-group">
            <label for="text1"></label>
            <input id="text1" name="text1" placeholder="Empresa" type="text" class="form-control here">
          </div>
          <div class="form-group">
            <label for="text2"></label>
            <input id="text2" name="text2" placeholder="E-mail" type="text" required="required" class="form-control here">
          </div>
          <div class="form-group">
            <label for="text3"></label>
            <input id="text3" name="text3" placeholder="Telefone" type="text" required="required" class="form-control here">
          </div>
          <div class="form-group">
            <button name="submit" type="submit" class="btn btn-primary offset-3">QUERO SER UM PARCEIRO</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
